<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=s, initial-scale=1.0" />
    <title>LazadaXShopeeSearch</title>
    <link rel="stylesheet" href="/css/home-page.css" />
  </head>
  <body>
    <main>
      <section>
        <img src="/img/main-logo.png" alt="" />
        <form method="POST">
          <div class="search-input-wrapper">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
            <input type="text" name="searchKey" />
          </div>
        </form>
      </section>
    </main>
  </body>
  <script src="/script/home-page.js"></script>
</html>
